*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: $white;
    font-family: Gotham, sans-serif;
    width: 100%;
}
html {
    width: 100%;
}
h1 {
    font-size: 55px;
}
h2 {
    font-size: 44px;
}
h3 {
    font-size: 35px;
}
h4 {
    font-size: 28px;
}
h5 {
    font-size: 23px;
}
p {
    font-size: 18px;
}
.--psmall {
    font-size: 12px;
    font-family: Gotham-light, sans-serif;
}
button,
input[type="submit"] {
    font-size: 18px;
    font-family: Gotham-light, sans-serif;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $white;
    border-radius: 30px;
    padding: 10px 50px;
    cursor: pointer;
    width: max-content;
    @include transition(all ease-in-out 0.4s);
}

input,
textarea,
select {
    margin: 8px 0;
    width: 100%;
    min-height: 40px;
    border: 1px solid $gray4;
    color: $gray3;
    padding: 0;
    font-family: Gotham-light, sans-serif;
    font-size: 12px;
}

label {
    color: $gray1;
}

select {
    padding: 8px 16px;
}

::placeholder {
    padding: 8px 16px;
    color: $gray3;
    font-size: 12px;
}

option {
    color: $gray1;
}

label {
    display: block;
}

.social-icon {
    width: 22px;
    height: auto;
}

@media only screen and (min-width: 768px) {
    body {
        width: 100hv;
    }
}

@media only screen and (max-width: 600px) {
    input,
    textarea,
    select {
        width: 90%;
    }
}

