.section-five{
    background-image: url('../images/section-five.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.card-left{
    width: 39%;
}
.card-right{
    width: 39%;
}