$black:                 #262626;
$white:                 #FFFFFF;

$secondaryColor:        #3357F8;
$principalRed:          #F10A0A;
$principalOrange:       #FF7700;
$principalBrown:        #cc5f00;
$principalGray:         #F2F2F2;

@font-face {
    font-family: Gotham;
    src: url(./fonts/Gotham-Book.otf);
}
@font-face {
    font-family: Gotham-Light;
    src: url(./fonts/Gotham-Light.otf);
}
@font-face {
    font-family: Gotham-Bold;
    src: url(./fonts/Gotham-Bold.otf);
}